/src/units.csv
/.idea/
/src/unitsN.csv
/.bsp/
/project/
/target/

*.cache
project/project/target/config-classes/$2fec9db5655026d56412.cache
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
.bsp/sbt.json
target/scala-3.0.0/classes/main.class
